{{#if flag }}
<div class="d-flex justify-content-center">
  <h2 class="text-danger">У Вас нету выполненных заказов...</h2>
</div>
{{else}}
<h2>Ваши выбранные заказы:</h2>
<h2>Cписок заказов:</h2>
{{#each courierOrders}}
<div class="container">
  <div class="row-6 border border-success m-3 d-flex justify-content-center">
    <ul class="list-group m-3 ">
      <li class="list-group-item"><strong>Ресторан:</strong> {{cafe}}</li>
      <li class="list-group-item"><strong>Корзина:</strong> {{basket}}</li>
      <li class="list-group-item"><strong>Адресс:</strong> {{address}}</li>
      <li class="list-group-item"><strong>Скидка:</strong> {{sales}}</li>
      <li class="list-group-item"><strong>Старая цена:</strong> {{oldPrice}}</li>
      <li class="list-group-item"><strong>Новая цена:</strong> {{newPrice}}</li>
      <li class="list-group-item"><strong>Дата:</strong> {{date}}</li>
    </ul>
  </div>
</div>
{{/each}}
<a href="/courier/main">Назад</a>
{{/if}}


